body {
  text-align: center;
}
.header {
  text-align: center;
}
.container {
  margin-top: 150px;
  display: flex;
  margin-left: 100px;
}
.image {
  display: block;
  margin: 0 auto;
  display: none;
  padding-left: 100px;
}
.hide-button,
.show-button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
}
.hide-button {
  display: none;
  margin-left: 100px;
}
